$layout-max-container-width: 1440px !default;

$layout-grid-columns: 12 !default;

$layout-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
) !default;

$layout-grid-gap: (
  xs: 16px,
  sm: 24px,
  md: 32px,
  lg: 48px,
) !default;

$layout-grid-offset: (
  xs: 16px,
  sm: 32px,
  md: 48px,
  lg: 80px,
) !default;

@mixin breakpoint($width, $type: min) {
  @if map_has_key($layout-breakpoints, $width) {
    $width: map_get($layout-breakpoints, $width);

    @if $type == max {
      $width: $width - 1;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

.l-container {
  width: 100%;
  max-width: $layout-max-container-width;
  margin: 0 auto;
  box-sizing: border-box;

  @each $size, $value in $layout-grid-offset {
    @include breakpoint($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.l-row {
  display: flex;
  flex-wrap: wrap;

  @each $size, $value in $layout-grid-gap {
    @include breakpoint($size) {
      margin-left: -#{$value / 2};
      margin-right: -#{$value / 2};
    }
  }
}

[class*='l-col'] {
  box-sizing: border-box;
  width: 100%;

  @each $size, $value in $layout-grid-gap {
    @include breakpoint($size) {
      padding-left: $value / 2;
      padding-right: $value / 2;
    }
  }
}

@for $i from 0 through $layout-grid-columns {
  .l-col-#{$i} {
    width: percentage($i / $layout-grid-columns);
  }

  .l-offset-#{$i} {
    margin-left: percentage($i / $layout-grid-columns);
  }
}

@each $size, $value in $layout-breakpoints {
  @include breakpoint(#{$size}) {
    @for $i from 0 through $layout-grid-columns {
      .l-col-#{$size}-#{$i} {
        width: percentage($i / $layout-grid-columns);
      }

      .l-offset-#{$size}-#{$i} {
        margin-left: percentage($i / $layout-grid-columns);
      }
    }
  }
}
